.header a{
    text-decoration: none;
   
    margin-left: 15px;
    padding: 5px 10px;
}
.header a:hover{
    background-color: slateblue;
    color: white;
}
.active{
    background-color: slateblue;
    color: white;
    
    font-weight: 500;
    border-radius: 5px;
}